* {
    margin: 0;
    padding: 0;
  }
  
  p {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: Verdana Pro;
    color: #f9f9f9;
  }
  
  .header,
  .aside,
  .article,
  .image,
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 93vh;
    background-color: #FFBFAB;
    max-width: initial;
  }
  
  .header,
  .content,
  .footer {
    width: 100%;
    height: 100%;
  }
  
  .header,
  .footer {
    height: 25%;
    background-color: #8FC5C7;
  }
  
  .content {
    display: flex;
  }
  
  .aside {
    background-color: #56A7BA;
    min-width: 20%;
  }
  
  .article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    padding: 20px;
    background-color: #FF9176;
  }
  
  .text {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: flex-end;
  }
  
  .image-content {
    display: flex;
    width: 100%;
    height: 80%;
  }
  
  .image {
    width: 100%;
    height: 100%;
    background-color: #b0b0b0;
    margin-right: 20px;
  }
  
  .image:last-child {
    margin-right: 0px;
  }
  
  .margin:not(last-child) {
    margin-bottom: 20px;
  }